<h2>Create new <%= @category.name %> task</h2>

<%= form_with model: [@category, @task], local: true do |f| %>
  <p>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>     
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "name" %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :deadline %>
    <%= f.datetime_field :deadline %>
  </p>
  <p>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.submit "Save", :class => "submit" %>
  </p>

<% end %>
<div class="others">
  <%= link_to "Back to #{@category.name} Tasks", category_tasks_path(@category.id) %>
</div>